:root {
  /* Palette de couleurs */
  --primary-text: #2C3E50;
  --secondary-text: #7F8C8D;
  --background-light: #ECF0F1;
  --background-dark: #2C3E50;
  --link-color: #3498DB;
  --link-hover: #2980B9;
  --button-bg: #95A5A6;
  --button-hover-bg: #7F8C8D;
  --shadow-color: #1ABC9C;
  --accent-color: #E74C3C;
  
  /* Typographie */
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Rendu du texte */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Mode clair par défaut */
  color: var(--primary-text);
  background-color: var(--background-light);
}

/* Liens */
a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--link-hover);
}

/* Corps du site */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-light);
  color: var(--primary-text);
}

/* Titres */
h1 {
  font-size: 5em;
  line-height: 1.1;
  font-family: "Inter", serif;
  font-weight: 700;
  font-style: normal;
  filter: drop-shadow(0 -2mm 2mm var(--shadow-color));
}


/* Boutons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  color: var(--primary-text);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--button-hover-bg);
  border-color: var(--link-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Cartes */
.card {
  background-color: var(--button-bg);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--secondary-text);
}

/* Mode sombre */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--background-light);
    background-color: var(--background-dark);
  }

  a:hover {
    color: var(--accent-color);
  }

  button {
    background-color: var(--background-dark);
    color: var(--background-light);
  }

  .card {
    background-color: var(--background-dark);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  }
}

